<!-- Side-nav -->
<mat-sidenav-container>
  <mat-sidenav mode="side" [(opened)]="opened" color="primary">
    <button
      mat-button
      class="menu-button"
      routerLink="movies"
      (click)="goToMoviesPage()">
      <mat-icon>local_movies</mat-icon>
      Movies
    </button>
    <button
      mat-button
      class="menu-button"
      routerLink="profile"
      (click)="goToProfilePage()">
      <mat-icon>face</mat-icon>
      Profile
    </button>

    <mat-divider></mat-divider>

    <button
      mat-button
      class="menu-button"
      routerLink="logout"
      (click)="logout()">
      <mat-icon>power_settings_new</mat-icon>
      Log out
    </button>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- Tool bar -->
    <div class="sidenav-content" style="width: 100vw">
      <mat-toolbar style="text-align: center">
        <!-- Toggler -->
        <button
          mat-icon-button
          class="example-icon"
          aria-label="Example icon-button with menu icon"
          style="align-self: left"
          (click)="opened = !opened"
        >
          <mat-icon class="icon">menu</mat-icon>
        </button>
        <span class="toolbar-title">honeypotflixng</span>
      </mat-toolbar>

      <!-- Main content -->
      <div
        class="movie-card"
        style="display: flex; flex-wrap: wrap; justify-content: center"
      >
        <mat-card
          class="movie-card"
          *ngFor="let movie of movies"
          style="margin: 10px; max-width: 250px; min-height: 550px"
        >
          <div
            class="header"
            style="
              display: flex;
              justify-content: space-between;
              min-height: 80px;
            "
          >
            <div style="margin-right: 5px">
              <mat-card-title>{{ movie.Title }}</mat-card-title>
              <mat-card-subtitle>
                Director: {{ movie.Director.Name }}
              </mat-card-subtitle>
            </div>
            <div class="favorite" style="align-self: top">
              <mat-icon
                *ngIf="!isFavorited(movie._id)"
                (click)="handleFavorite(movie._id)"
                class="heart-icon"
                style="color: pink"
              >
                favorite_border
              </mat-icon>
              <mat-icon
                *ngIf="isFavorited(movie._id)"
                (click)="handleUnfavorite(movie._id)"
                class="heart-icon"
                style="color: pink"
              >
                favorite
              </mat-icon>
            </div>
          </div>
          <img
            mat-card-image
            src="{{ movie.ImagePath }}"
            alt="{{ movie.Title }}"
          />
          <mat-card-actions
            style="display: flex; justify-content: space-evenly"
          >
            <button
              mat-button
              (click)="openGenre(movie.Genre.Name, movie.Genre.Description)"
            >
              Genre
            </button>
            <button
              mat-button
              (click)="
                openDirector(
                  movie.Director.Name,
                  movie.Director.Bio,
                  movie.Director.Birth
                )
              "
            >
              Director
            </button>
            <button
              mat-button
              (click)="
                openSynopsis(
                  movie.Title,
                  movie.ImagePath,
                  movie.LongDescription
                )">
              Details
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
